@font-face {
    font-family: 'roboRegular';
    src: url('roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboBold';
    src: url('roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'roboBlack';
    src: url('roboto/Roboto-Black.ttf')
}

:root {
    --lightBlue: #8ecae6;
    --greenBlue: #219ebc;
    --darkBlue: #023047;
    --gold: #ffb703;
    --orange: #fb8500;
}

nav {
    font-family: 'roboRegular';
}

.custom-navbar {
    background-color: #74A12E;
}

.custom-navbar .navbar-nav .nav-link {
    color: white;
}

.btn {
    background-color: #74A12E;
    color: white;
    border-color: #74A12E;
}

.btn:hover {
    color: #74A12E;
    background-color: white;
    border-color: #74A12E;
}
/* SignUp.html */

#pageTitle {
    font-family: 'roboBlack';
    font-size: 42px;
    margin: 10px 20px 0px 70px;
}

hr.new2 {
    border-top: 2px solid #74A12E;
}

#radio_mentor {
    font-family: 'roboRegular';
    font-size: 18px;
    margin: 5px 5px 10px 50px;
}

#radio_mentee {
    font-family: 'roboRegular';
    font-size: 18px;
    margin: 10px 5px 5px 50px;
}

#nameinput {
    font-family: 'roboRegular';
    font-size: 18px;
    margin: 30px 400px 20px 37px;
}

#universityinput {
    font-family: 'roboRegular';
    font-size: 18px;
    margin: 30px 400px 20px 37px;
}

#inputboxes {
    font-family: 'roboRegular';
    font-size: 18px;
    margin: 30px 400px 20px 50px;
}

#submitbutton {
    font-family: 'roboRegular';
    font-size: 18px;
    margin: 30px 400px 20px 50px;
}

#pointgoal {
    font-family: 'roboRegular';
    font-size: 18px;
    margin: 30px 400px 20px 50px;
}

#slidebar {
    margin: 10px 100px 20px 50px;
}

#memo {
    font-family: 'roboRegular';
    font-size: 15px;
    margin: 0px 400px 20px 50px;
}

/* meetingSuvey css */
#filloutSurvey {
    margin: 20px 0px 10px 30px;
    font-family: 'roboBlack';
}

hr.new1 {
    border-top: 2px solid #74A12E;
}

select {
    padding: 5px 70px 5px 5px;
}

form {
    margin: 0px 0px 30px 30px;
}

#Signup {
    margin-top: 20px;
}

.questions {
    font-family: 'roboBold';
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 20px;
}

body {
    accent-color: #74A12E;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    right: 0;
}

.custom-dropdown {
    right: 0;
    left: auto;
}

.navbar-nav {
    font-family: 'roboRegular';
    font-size: 18px;
}

.carousel-indicators li {
    background-color: #74A12E;
}

.btn.custom-active-color:active {
    background-color: #74A12E !important; /* Change this to your desired clicked color */
    border-color: #74A12E !important; /* Change this to your desired border color when clicked */
    color: #FFFFFF !important; /* Change this to your desired text color when clicked */
}