@font-face {
    font-family: 'roboRegular';
    src: url('roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --lightBlue: #8ecae6;
    --greenBlue: #219ebc;
    --darkBlue: #023047;
    --gold: #ffb703;
    --orange: #fb8500;
}

nav {
    font-family: 'roboRegular';
}